.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}
#signup{
	text-align: center;
	font-size: 10px;
	font-family:fantasy;
}
#signup input,select,option{
	text-align: center;
	font-size: 10px;
	font-family:fantasy;
}
#signup p{
	color:white;
	text-align: center;
	font-size: 10px;
	font-family:fantasy;
}
